streamlit
python-dotenv
youtube-transcript-api
yt-dlp
langchain
langchain-community
langchain-core
langchain-huggingface
langchain-text-splitters
faiss-cpu
sentence-transformers
huggingface-hub